.rh6-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rh6-bg-grey-1{
	background-color: #f1f1f1;
}
.rh6-bg-grey-2{
	background-color: lightgrey;
}
.rh6-bg-grey-3{
	background-color: #556471;
}

.rh6-bg-blue-1{
	background-color: #2196F3;
}
.rh6-bg-blue-2{
	background-color: #0769AD;
}

logo{
	font-weight: bold;
	font-size: 140%;
	font-family:Tahoma;
}
riff{
	color: white;
background-color: #454B51;
	border-radius: 10px 0px;
	//border: 1px solid grey;
	
	padding: 3px 6px;
	
}
hunter{
	color: #454B51;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.divbutton {
    display:    none;
	text-decoration: none;
} 
.divbutton:hover {
	text-decoration: none;
    color:  	gold; 
} 
 tr:hover .divbutton{
	
    display:    inline-block;
	text-decoration: none;
    color:  	white; 
} 
 
 tr:hover .divbutton:hover {
	
    display:    inline-block;
	text-decoration: none;
    color:  	gold; 
} 

.artist-filter{
  overflow-x: hidden;
  overflow-y: auto;
  height: 500px;
  width: 100%;
}

.hideThis {
    display: none;
}
/*
tbody .songName {
	font-weight: bold;
	font-size: 120%;
}
*/

body {
    padding-right: 0 !important;
}

#main-nav {
    padding-right: 0 !important;
}

#favLoginModal, #favRemoveModal, #favAddModal{
top:30%;
outline: none;
}

.filtered::after {
  font-family: FontAwesome;
  content: " \f0b0";
}
.slider { 
	width: 100% !important;
	}
.slider-handle {
	background: red;
}
.slider-selection {
	background: orange;
}